<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITGDevices</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome//css/all.css" />
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }


        .nav-list {
            list-style-type: none;
        }

        .navbar {
            background-color: darkblue;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 20px;
            height: 75px;
            width: 100%;
        }

        .nav-list .list-item {
            display: inline-block;
            padding: 20px 10px;
        }

        .navbar a {
            color: white;
            text-decoration: none;
        }

            .navbar a:hover {
                color: aqua;
            }


        .logo {
            height: 40px;
        }

        .container-icon {
            top: 17px;
        }
    </style>
</head>
<body>
    <header class="navbar">


        <div class="container-icon">

            <img class="logo" src="https://image.flaticon.com/icons/png/512/187/187891.png" alt="logo" />

        </div>

        <ul class="nav-list" id="nav-list">

            <li class="list-item">
                <a asp-area="" asp-controller="DevicesRequest" asp-action="Index">All Devices</a>
            </li>
            <li class="list-item">
                <a asp-area="" asp-controller="DevicesRequest" asp-action="UserDevices">My Devices</a>
            </li>
            <li class="list-item">
                <a asp-area="" asp-controller="users" asp-action="Password">Password</a>
            </li>
            <li class="list-item">
                <a asp-area="" asp-controller="users" asp-action="Logout">Logout</a>
            </li>

        </ul>

    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Hadeel Hashash
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
